@font-face {
  font-family: "toutiao";
  /* Project id 3852366 */
  src: url('//at.alicdn.com/t/c/font_3852366_p7i44lg6o7.woff2?t=1672908441281') format('woff2'), url('//at.alicdn.com/t/c/font_3852366_p7i44lg6o7.woff?t=1672908441281') format('woff'), url('//at.alicdn.com/t/c/font_3852366_p7i44lg6o7.ttf?t=1672908441281') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-shanchu:before {
  content: "\e601";
}
.toutiao-gengduo:before {
  content: "\e602";
}
.toutiao-sousuo:before {
  content: "\e603";
}
.toutiao-shouye:before {
  content: "\e604";
}
.toutiao-shouji:before {
  content: "\e605";
}
.toutiao-shoucang:before {
  content: "\e606";
}
.toutiao-wenda:before {
  content: "\e607";
}
.toutiao-shipin:before {
  content: "\e608";
}
.toutiao-wode:before {
  content: "\e609";
}
.toutiao-wuwangluo:before {
  content: "\e60a";
}
.toutiao-yanzhengma:before {
  content: "\e60b";
}
.toutiao-youjiantou:before {
  content: "\e60c";
}
.toutiao-zuojiantou:before {
  content: "\e60d";
}
.toutiao-yuedu:before {
  content: "\e60e";
}
.toutiao-zuopin:before {
  content: "\e60f";
}
